html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Fuentes personalizadas */
.font-serif {
    font-family: 'Playfair Display', serif;
}

/* Efecto suave para el navbar */
nav {
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Estilo para los inputs en foco */
input:focus {
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}
